<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>待辦事項清單</title>
<meta charset=utf-8>
<link rel=stylesheet href=http://getbootstrap.com/dist/css/bootstrap.min.css> 
<link rel=stylesheet href={% static 'lists/css/base.css' %}>
</head>
<body>
<div class=container>
  
  <div class=row>
    <div class="col-md-6 col-md-offset-3 jumbotron">
      <div class=text-center>
        <h1>{% block headerText %}{% endblock %}</h1>
        <form method=POST action={% block formAction %}{% endblock %}>
  	      {% csrf_token %}
           {{form.text}}
          {% if form.errors %}
            <div class="form-group has-error">
              <span class=help-block>{{form.text.errors}}</span>
            </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>

  <div class=row>
    <div class="col-md-6 col-md-offset-3 ">
      {% block table %}
      {% endblock %}
    </div>
  </div>
  
</div>
<script src=http://code.jquery.com/jquery.min.js></script>
<script src={% static 'lists/js/lists.js' %}></script>
</body>
</html>